DJANGO_DEBUG=1
DJANGO_SECRET_KEY=dev-secret
DJANGO_TIME_ZONE=America/Caracas

DATABASE_URL=postgresql://loteria:loteria@127.0.0.1:5432/loteria
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/2
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/3

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:5173
CSRF_TRUSTED_ORIGINS=

DEVICE_BYPASS_CODES=DEV,LOCAL
